extends layout
block body
  div.container
    div.row
      div#example.col-sm-12.col-md-12.col-xs-12
  script(src="./node_modules/react/dist/react.js")
  script(src="./node_modules/react-dom/dist/react-dom.js")
  script(src="./public/bundle.js")
  
