extends layout
block body
  div#example
  div#example2
  script(src="./node_modules/react/dist/react.js")
  script(src="./node_modules/react-dom/dist/react-dom.js")
  script(src="./node_modules/react-nvd3/dist/react-nvd3.js")
  script(src="./public/bundle.js")
  
